.radio-group label {
  display: flex;
  align-items: center;    
  padding: 1%;
  margin: 0.2em;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #ffffff;
  transition: background-color 0.3s;
}

label.radio_label_r {
  background-color: #FF9796;
  text-align: center;
}

label.radio_label_y {
  background-color: #FBCA45;
}

label.radio_label_g {
  background-color: #9FD65A;
}

label.radio_label_r:hover {
  background-color: #FF7574  !important;
  filter: drop-shadow(0 0 2em #646cffaa) !important;
}

label.radio_label_y:hover {
  background-color: #f2bc0d  !important;
}

label.radio_label_g:hover {
  background-color: #76CE1E  !important;
}

input:checked + label.radio_label_r {
  background-color: #FF7574  !important;
}

input:checked + label.radio_label_y {
  background-color: #F9BE00  !important;
}

input:checked + label.radio_label_g {
  background-color: #76CE1E  !important;
}

input {
  display: none;
}
